<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <header>
        <nav>
          <ul>
            <li><a href="/">Shop</a></li>
            <li><a href="/admin/add-product">Add Product</a></li>
            <li><a href="/contact">Contact us</a></li>
          </ul>
        </nav>
      </header>
    </header>
    <main>
      <div>
        <div>
          <p>BOOK A CALL</p>
          <p>
            book a call slot and our representative we call u with in 1 hr of
            selected time
          </p>
        </div>
        <hr />
        <form action="/success" method="POST">
          <div>
            <label>NAME</label>
            <input />
          </div>
          <div>
            <label>EMAIL</label>
            <input />
          </div>
          <div>
            <label>PHONE</label>
            <input />
          </div>
          <div>
            <label>Time for call</label>
            <input />
          </div>
          <button type="submit">SUBMIT</button>
        </form>
      </div>
    </main>
  </body>
</html>
