<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/admin/add-product">Add Product</a></li>
                <li><a href="/contact">Contact us</a></li>
            </ul>
        </nav>
    </header>
</header>
    <main>
        <form action="/admin/product" method="POST">
        <input type="text" name="title"></input>
        <input type="text" name="size"></input>
        <button type="submit">Add product</button>
    </form>
</main>
    
</body>
</html>